<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>_silnite</string>
	<key>PluginUUID</key>
	<string></string>
	<key>PluginVersion</key>
	<string>.6.3.1</string>
	<key>ProgramArguments</key>
	<array>
		<string>_wm_silnite.plugin</string>
	</array>
</dict>
</plist>
