<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>_silnite</string>
	<key>PluginOptions</key>
	<array>
		<dict>
			<key>SettingStorageKey</key>
			<string>.</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_wm_silnite_settings.plist</string>
			<key>SettingTitle</key>
			<string>Silnite Reporting Options</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>DisplayOnly</string>
				<key>Value</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>SettingStorageKey</key>
			<string>Check_For_Updates</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_wm_silnite_settings.plist</string>
			<key>SettingTitle</key>
			<string>Frequency to check for updates</string>
			<key>SettingTitleHint</key>
			<string>Number of hours between update checks. More time reduces bandwith.</string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>NumberPicker</string>
				<key>Value</key>
				<string>0-24,2</string>
			</dict>
		</dict>
		<dict>
			<key>SettingStorageKey</key>
			<string>Warn_Updates_Attempts</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_wm_silnite_settings.plist</string>
			<key>SettingTitle</key>
			<string>Unable to check for updates attempts</string>
			<key>SettingTitleHint</key>
			<string>If silnite is unable to check for updates due to network issues, you'll receive an alert after the number of attempts set below.</string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>NumberPicker</string>
				<key>Value</key>
				<string>0-99,1</string>
			</dict>
		</dict>
	</array>
	<key>PluginUUID</key>
	<string>66839ccd-07b1-485b-b271-f6a65709d951</string>
	<key>PluginVersion</key>
	<string>.9.6.0.0</string>
	<key>ProgramArguments</key>
	<array>
		<string>_wm_silnite.plugin</string>
	</array>
</dict>
</plist>
